.popup__form{
    max-width: 430px;
    max-height: 330px;
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 34px 36px 37px;
    box-sizing: border-box;

}
@media screen and (max-width: 520px) {
    .popup__form{
        width: 282px;
        height: 322px;
        padding: 25px 22px 22px;
    }
}