.popup__form{
    max-width: 430px;
    display: flex;
    flex-direction: column;
    padding: 41px 36px 37px;
    box-sizing: border-box;

}
@media screen and (max-width: 520px) {
    .popup__form{
        width: 282px;
        padding: 62px 22px 25px;
    }
}