.elements{
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 17px;
    row-gap: 19px;
}
@media screen and (max-width: 768px) {
    .elements{
        grid-template-columns: auto auto;
        padding-top: 36px;
    }
   }
@media screen and (max-width: 380px) {
    .elements{
        grid-template-columns: auto;
    }
   }